body{
    margin: 0;
}
#black{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: #26282a;
}
#white{
    margin-top: 23.9vw;
    height: 50%;
    width: 100%;
    position: absolute;
    background-color: #f0f0f0;
}
#medium{
    margin-top: 7vw;
    margin-left: 20vw;
    height: 70%;
    width: 60%;
    position: absolute;
    background-color: #f6f6f7;
    z-index: 1;
}

#photo{
    position: absolute;
    margin-top: 1.03vw;
    margin-left: 25.7vw;
    width: 8.9vw;
    height: 8.9vw;
    border-radius: 30vw;
    border: 0.10vw solid rgb(163, 163, 163);
    z-index: 5;
}
#imgs{
    margin-top: 1.4vw;
    margin-left: 26.05vw;
    border-radius: 30vw;
    z-index: 5;
    width: 8.3vw;
    height: 8.3vw;
    box-shadow: -1px 1px 0px 5px rgba(255,255,255,1);
}
#linea2{
    margin-top: -2vw;
}
.imagenes{
    position: absolute;
    margin-top: 13vw;
    width: 59.9vw;
    height: 6vw;
    overflow: hidden;
}
#i1{
    position: absolute;
    top: -7vw;
    left: 10vw;
    width: 6vw;
    height: 12vw;
    transition: 0.5s;
}

#i1:hover{
    top: 0vw;
    transition: 0.5s;
}
#i2{
    position: absolute;
    top: -7.6vw;
    left: 17vw;
    width: 6vw;
    height: 12vw;
    transition: 0.5s;
}
#i2:hover{
    top: -0.3vw;
    transition: 0.5s;
}
#i3{
    position: absolute;
    top: -7.5vw;
    left: 24vw;
    width: 6vw;
    height: 12vw;
    transition: 0.5s;
}
#i3:hover{
    top: -0.2vw;
    transition: 0.5s;
}
#i4{
    position: absolute;
    top: -7.2vw;
    left: 31vw;
    width: 6vw;
    height: 12vw;
    transition: 0.5s;
}
#i4:hover{
    top: -0.2vw;
    transition: 0.5s;
}
#i5{
    position: absolute;
    top: -7.2vw;
    left: 38vw;
    width: 6vw;
    height: 12vw;
    transition: 0.5s;
}
#i5:hover{
    top: -0.2vw;
    transition: 0.5s;
}
#i6{
    position: absolute;
    top: -7.5vw;
    left: 44vw;
    width: 6vw;
    height: 12vw;
    transition: 0.5s;
}
#i6:hover{
    top: -0.2vw;
    transition: 0.5s;
}