body {
    font-family: Arial, sans-serif;
    background-image: url(./9365a3ba5b8a58cdf77782c5c697beef.jpg);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: rgb(228, 228, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0px 2px 16px 8px rgba(0,0,0,0.75);
}

h1 {
    margin-bottom: 20px;
}

.card-img {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#new-game {
    margin-top: 5px;
    padding: 8px 20px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#higher{
    box-shadow:0px 1px 6px 2px rgb(0, 0, 0);
}
#equal{
    box-shadow: 0px 1px 6px 2px rgb(0, 0, 0);
}
#lower{
    box-shadow:0px 1px 6px 2px rgb(0, 0, 0);
}

#higher:hover{
    box-shadow: inset 0px 1px 6px 2px rgb(0, 133, 22);
}
#lower:hover{
    box-shadow: inset 0px 1px 6px 2px rgb(133, 0, 0);
}
#equal:hover{
    box-shadow: inset 0px 1px 6px 2px rgb(1, 32, 173);

}
#new-game{
    box-shadow: 0px 1px 6px 2px rgb(0, 0, 0);
}
#new-game:hover{
    background-color: rgb(184, 150, 0);
}