body {
    background-color: cornflowerblue;
    color: white;
}

table thead {
    background-color: #302b63;
    color: white;
}
.label1,.label2,.label3,.label4,.label5,.label6,
.label7,.label8,.label9,.label10,.label11,.label12{
    font-weight: bold;
}
.label1{
    margin-right: 100px
}
.label2{
    margin-right: 50px
}
.label3{
    margin-right: 18px
}
.label4{
    margin-right: 65px
}
.label5{
    margin-right: 60px
}
.label6{
    margin-right: 32px
}
.label7{
    margin-right: 65px
}
.label8{
    margin-right: 65px
}
.label9{
    margin-right: 65px
}
.label10{
    margin-right: 68px
}
.label11{
    margin-right: 77px
}
.label12{
    margin-right: 105px
}
